body {
  background-color: black;
  /* color: white; */
}

input[type=range]::-ms-tooltip {
    display: none;
}
.win-slider {
  -webkit-appearance: none;
  /* width: 280px; */
  height: 42px;
  padding-top: 17px;
  padding-bottom: 32px;
}

.win-slider::-ms-thumb {
  width: 2px;
  height: 36px;
  border-style: none;
}

.win-slider::-ms-track {
  color: red;
  background-color: white;
  height: 8px;
  border-style: none;
}


#chapter{
    color: white;
     border: 1px solid gray;
}

#trackinfo{
    color: white;
     border: 1px solid gray;
}

#myListView .win-listview .win-viewport.win-vertical{
    border: 2px solid red;
}

#list_title {
  width: 80%;
  font-size: 110%;
  /* font-weight: bold; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

#list_artist {
  width: 80%;
  float: left;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

#list_duration {
  float: right;
  font-size: 80%;
}

#ButtonsElement {
    -ms-grid-row: 4;
     border: 1px solid gray;
     position: relative;
     height: 300px;
}

.win-pivot button.win-pivot-header.win-pivot-header-selected {
  color: white;
}

.win-pivot button.win-pivot-header {
  color: gray;
  background-color: transparent;
}

.win-pivot button.win-pivot-header {
  color: rgba(100, 100, 100, 1);
  background-color: transparent;
}


html.win-hoverable .win-pivot button.win-pivot-header:hover {
  color: rgba(180, 180, 180, 1);
}


.buttons {
  position: absolute;
}

.win-container-even > .win-itembox {
  background-color: black;
  color: white;
}
.win-container-odd > .win-itembox {
  background-color: #1f1f1f;
  color: white;
}
