@media only screen and (orientation: landscape) {
    #ButtonsElement {
       display: none;
    }
}

@media only screen and (orientation: portrait) {
    #ButtonsElement {
       display: block;
    }
}


body {
  background-color: black;
}

p {
  margin:0;
}

img {
  max-width: 100%;
}

#now-playing {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#filler-bottom{
  min-height: 50px;
}
#thumbnail{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/images/xplayer.svg");
   background-repeat: no-repeat;
  background-size: contain;
   background-position: center;
}

#track-info{
    color: white;
}

#slider-top {
  /* clear: both; */
  display: flex;
  width: 100%;
  /* margin-bottom:50px; */
}

#slider {
  flex-grow: 1;
  width: 100px;
  height: 50px;
}

#couter-left {
  color: white;
  font-size: 80%;
  margin-top: 15px;
  margin-right: 10px;
  width:50px;
}

#ButtonsElement {
  position: relative;
  width: 320px;
  clear: both;
}

#couter-right {
  color: white;
  font-size: 80%;
  margin-top: 15px;
  margin-left: 10px;
  width:50px;
}

/* .win-appbar .win-commandimage */
/* { */
/*      font-size: 10px; */
/* } */

input[type=range]::-ms-tooltip {
    display: none;
}
.win-slider {
  -webkit-appearance: none;
  width: 100%;
  /* height: 42px; */
  padding-top: 17px;
  padding-bottom: 32px;
}

.win-slider::-ms-thumb {
  width: 4px;
  height: 20px;
  border-style: none;
}

.win-slider::-ms-track {
  color: red;
  background-color: white;
  height: 1px;
  border-style: none;
}

.win-slider::-ms-ticks-before{
  display: block;
   color: rgba(255, 0, 0, 1);
   height: 20px;
}

.win-slider::-ms-ticks-after{
  display: block;
   color: rgba(255, 0, 0, 1);
   height: 10px;
}

#mode {
  height: 50px;
}

#chapter-start, #chapter-end {
  color: white;
  float: left;
  margin-top: 15px;
}

#butMode {
  width: 45px;
  height: 45px;
  background-image: url("/images/mode0_v2.svg");
  background-size: 100%;
  float: left;
}

#track-header{
    /* height: 25%; */
    /* flex: 1; */
}

#myListView .win-listview .win-viewport.win-vertical{
    border: 2px solid red;
}

.list_title {
  width: 80%;
  font-size: 110%;
  /* font-weight: bold; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.list_artist {
  width: 80%;
  float: left;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.list_album {
  width: 80%;
  float: left;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.list_duration {
  float: right;
  font-size: 80%;
}


.win-pivot button.win-pivot-header.win-pivot-header-selected {
  color: white;
}

.win-pivot button.win-pivot-header {
  color: gray;
  background-color: transparent;
}

.win-pivot button.win-pivot-header {
  color: rgba(100, 100, 100, 1);
  background-color: transparent;
}


html.win-hoverable .win-pivot button.win-pivot-header:hover {
  color: rgba(180, 180, 180, 1);
}



.win-container-even > .win-itembox {
  background-color: black;
  color: white;
}
.win-container-odd > .win-itembox {
  background-color: #1f1f1f;
  color: white;
}

.group-header {
  background-color: black;
  color: white;
}


.win-listview {
  height: 500px;
}



.button-huge{
  width:160px;
  height:160px;
}

.button-big{
  width:80px;
  height:80px;
}

.button-small{
  width:40px;
  height:40px;
}

.button {
  float:left;
}

.buttonActive {
  background: gray;
}

.button img{
  width:100%;
}


#butMode0, #butMode1, #butMode2 {
 top: 30px;
 left: 35px;
 width:160px;
 border: 1px solid white;
 float: left;
 }

#img-mode0, #img-mode1, #img-mode2 {
 width: 50px;
 }


